---
// https://docs.astro.build/en/guides/view-transitions/
import { ClientRouter } from "astro:transitions";
import Seo from "@components/Seo.astro";
import Header from "@components/Header.svelte";
import Footer from "@components/Footer.astro";
import { getSite } from "../lib/sanity/repository";
import { SeoType } from "@lib/sanity/seo/types";
import "@styles/app.scss";

interface Props {
  title: string;
  pageSeo: SeoType | undefined;
}

const { title, slug, pageSeo }: Props = Astro.props;
const layoutData = await getSite();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {!pageSeo && <title>{title}</title>}
    {
      pageSeo && (
        <Seo
          title={title}
          siteSeo={layoutData.seo}
          pageSeo={pageSeo}
          pageSlug={slug}
        />
      )
    }
    <ClientRouter />
  </head>
  <body>
    <div class="container">
      <Header menu={layoutData.menu} />
      <slot />
      <Footer />
    </div>
  </body>
</html>
