---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { Image } from "astro:assets";
import { getPosts } from "../../lib/sanity/repository";
import Card from "../../components/Card.astro";
import Welcome from "../../components/Welcome.astro";

const posts = await getPosts();
---

<!doctype html>
<html lang="en">
  <body>
    <Header />
    <main>
      <section>
        {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
      </section>

      <!--<section>-->
      <!--	<ul>-->
      <!--		{-->
      <!--			posts.map((post) => (-->
      <!--				<li>-->
      <!--					<a href={`/blog/${post.id}/`}>-->
      <!--						{post.data.heroImage && (-->
      <!--							<Image width={720} height={360} src={post.data.heroImage} alt="" />-->
      <!--						)}-->
      <!--						<h4 class="title">{post.data.title}</h4>-->
      <!--						<p class="date">-->
      <!--							<FormattedDate date={post.data.pubDate} />-->
      <!--						</p>-->
      <!--					</a>-->
      <!--				</li>-->
      <!--			))-->
      <!--		}-->
      <!--	</ul>-->
      <!--</section>-->
    </main>
  </body>
</html>
